@import  url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

body{
	font-family: 'Yantramanav', sans-serif;
	font-weight: 400;
	font-size: 15px;

}

.global{

background-color: white;
margin-left: 20px;
margin-top: 20px;
margin-right: : auto;
width: 900px;
height:900px;
text-align: left;
}

h1{
	letter-spacing: 14px;
	font-weight: 200px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: 150px;
}

.intro {
  width: 500px;
  height: 100px;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 150px;
}


.pickupli{
	line-height: 30px;
}

ul{
	list-style-type: none;
	margin-left: 0px;
}


footer{
	font-size: 12px;
	margin-top: 150px;
 	padding-right: 100px;
 	margin-right: auto;
 		margin-left: 150px;
}

footer li{
	display: inline;
	padding-right: 26px;
}

a {
	text-decoration: none;

}



.pickup{
	display: inline-block;
